{% extends "index.html" %}
{% block body %}
<div id = "about-body">
    <h1 id = "about-hi">hi, i'm kaitlyn</h1>
    <div id = "about-img-crop">
        <img src = "../static/img/id.jpg" id = "about-img">
    </div>
    <div id = "about-text">
        <h1 id = "about-header">About Me</h1>
        <p id = "about-me">My name is Kaitlyn Chau. I'm a rising sophomore pursuing Computer Science at Stony Brook University. I grew up in Charleston, South Carolina.</p>
    </div>
    <div class = "circle1"></div>
    <div class = "circle2"></div>
    <!-- <a href="/">
        <p>back</p>
    </a> -->
</div>
{% endblock %}