{% extends "kaitlyn_index.html" %}
{% block title %}{{ super() }} {% endblock %}
{% block body %}
<div class = "circle1"></div>
<div class = "circle2"></div>
<div class = "circle3"></div>
<div class = "circle4"></div>
<h1 id = "education-header">Education</h1>
<div id = "education-post-position">
    <div class = "education-posts" >
        <img class = "education-img" src = "../static/img/amhs.jpg">
        <p class = "education-post">Academic Magnet High School</p>
    </div>
    <div class = "education-posts" >
        <img class = "education-img" src = "../static/img/sbu.png">
        <p class = "education-post">Stony Brook Unversity</p> 
    </div>
</div>
{% endblock %}

