{% extends "kaitlyn_index.html" %}
{% block body %}
<div id = "places-body">
    <h1 id = "places-header">Places I've Visited</h1>
    <div id = "places-format">
        <img src = "../static/img/chicago.jpeg" class = "places-img"  style="margin-top: .5cm ;">
        <div>
            <p class = "places-location">Place Name</p>
            <p class = "places-description">Visit Description</p>
        </div>
        <img src = "../static/img/bahamas.jpeg" class = "places-img">
        <div>
            <p class = "places-location">Place Name</p>
            <p class = "places-description">Visit Description</p>
        </div>
        <img src = "../static/img/hong-kong.jpeg" class = "places-img">
        <div>
            <p class = "places-location">Place Name</p>
            <p class = "places-description">Visit Description</p>
        </div>
    </div>
    <h2 id = "places-header" style="margin-top: 1cm">Places I Want To Visit</h2>
    <p class = "places-description">Visit Description</p>
</div>
{% endblock %}