{% extends "kaitlyn_index.html" %}
{% block title %}{{ super() }} {% endblock %}
{% block body %}
<h1 id = "experience-header">Previous Experience</h1>
<div id = "experience-columns">
    <h2 class = "experience-type">Projects</h2>

    <div class = "experience-posts">
        <h3 class = "experience-post-title">NutriFruit</h3>
        <p class = "experience-post">Web app that displays fruit nutritional value and fun facts </p>
        <p class = "experience-post">Designed the functional User Interface to take user inputs and display fruit data pulled from data set </p>
        <h3 class = "experience-post-title">Weather App</h3>
        <p class = "experience-post"> Designed a user interface and displayed weather data depending on user-inputted location.
        </p>
    </div>

    <h2 class = "experience-type">Experiences</h2>

    <div class = "experience-posts">
        <h3 class = "experience-post-title">Student IT Technician</h3>                                                                 
        <p class = "experience-date">Jan 2022 - May 2022</p>
        <p class = "experience-post">Perform hardware diagnostics and reimaging for student and faculty owned devices</p>
        <p class = "experience-post">Shadowed Lead IT Technicians semester-long 12 hours/week</p>
        <p class = "experience-post">Troubleshoot software issues and effectively communicate the problem and solution to clients</p>
        <p class = "experience-post">Effectively communicate to customers and coworkers by logging detailed tickets of technical issues and resolutions
        </p>
        <h3 class = "experience-post-title">Store Cashier </h3>                                          
        <p class = "experience-date">Dec 2021 - Jan 2022</p>   
        <p class = "experience-post">Executed various tasks: served 100+ customers a day, replenished shelf stock, maintained shelf organization, closed
            the store, packaged and bagged customers’ orders according to company standards</p>                                  
    </div>

    <h2 class = "experience-type">Technical Skills</h2>

    <div class = "experience-posts">
        <h3 class = "experience-post-title">Languages</h3>
        <p class = "experience-post">Java, Javascript, HTML, CSS, Git</p>
        <h3 class = "experience-post-title">Technologies/Frameworks </h3>
        <p class = "experience-post">Git, GitHub, React, TailwindCSS</p>
    </div>
</div>
{% endblock %}